Task Day 5: what is Lamda Function in python?
Explain the below code chipo['item_price'] = chipo['item_price'].apply(lamda x:float(x[1:]))

In [1]:
# Ans: Lamda fucntion in python is a small anonymous fucntion that can take any number of arguments,
##     but can give one expression. 
##If you need to change the data type of multiple columns at once, you can use the apply() method with a lambda function
##that applies the astype() method to each column

#syntax: lambda arguments : expression
## eaxmple Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
## Meaning of this line       chipo['item_price'] = chipo['item_price'].apply(lamda x:float(x[1:]))

##Ans: Here "item_price" is name of coulmn chosen from data frame "chipo", which we want to change the data type, 
## .apply(lambda x: float([1:]) applies a lambda function to each element (x) in the selected DataFrame "chipo"
## x[1:] is used to slice the string x starting from the second character (index 1) onwards. This is because,
## the 'item_price' column typically contains a dollar sign ('$') at the beginning of each value, and we want to remove it.
## float(x[1:]) converts the sliced string (excluding the dollar sign) to a floating-point number. 
# This step effectively transforms a string like "$10.99" to a float like 10.99.
#The apply method is used to apply this lambda function to each element in the 'item_price' column. As a result, the entire column is transformed from a series of strings 
#representing prices into a series of floating-point numbers representing the same prices without the dollar sign.

In [9]:
#importing the data as a url
import numpy as np
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

#assigning the data to chipo name
chipo = pd.read_csv(url, sep='\t')

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [20]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

TypeError: 'float' object is not subscriptable

In [ ]:
chipo.item_price.dtype

dtype('float64')

In [24]:
##What is average revenue amount per order?
# Solution 1
revenue = chipo['quantity'] * chipo['item_price']
total_revenue = revenue.sum()
print(" Total Revenue :$",total_revenue)
total_orders = chipo['order_id'].value_counts().count()
total_orders
avg_rev = total_revenue/total_orders
print("Average Revenue per order :$",np.round(avg_rev,2))

 Total Revenue :$ 39237.02
Average Revenue per order :$ 21.39

Task 2: 
Second solution

In [25]:
avg_rev = chipo['item_price'].mean()    ## this is showing avg price of above shown coulmn only.
print("Average Revenue per order : $", round(avg_rev, 2))

Average Revenue per order : $ 7.46