# 4. Logistic Regression:
For binary target varibale (YES/NO, 1/0) 
- Classification

In [7]:
# logistic regression
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [8]:
student_d=pd.read_csv("student_data.csv") # loading file from computer
student_d.sample(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
656,male,group C,associate's degree,free/reduced,none,77,67,64
512,male,group D,some high school,free/reduced,none,62,49,52
239,male,group C,associate's degree,standard,none,84,80,80
117,female,group D,bachelor's degree,standard,none,78,82,79
511,male,group A,some high school,standard,none,64,50,43
722,female,group B,some high school,free/reduced,completed,74,90,88
642,female,group B,some high school,free/reduced,none,72,81,79
906,male,group B,high school,standard,none,57,48,51
674,female,group D,high school,standard,completed,69,77,78
275,male,group C,bachelor's degree,standard,none,83,78,73

In [9]:
student_d = student_d.drop(['lunch'],axis=1)
student_d = student_d.drop(['parental level of education'],axis=1)
student_d = student_d.drop(['race/ethnicity'],axis=1)
student_d = student_d.drop(['test preparation course'],axis=1)
student_d.sample(10)

     gender  math score  reading score  writing score
97   female          63             72             70
418    male          68             59             62
182  female          50             50             47
278  female          65             86             80
165  female          96            100            100
840  female          39             52             46
240    male          73             68             66
484  female          49             52             54
239    male          84             80             80
652  female          85             86             98

In [13]:
# label encode 0 and 1; 0 for male and 1 for female in gender column

from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Fit and transform the 'Category' column
student_d['encoded_gender'] = label_encoder.fit_transform(student_d['gender'])

In [14]:
student_d.head()   #female 0 and male 1

   gender  math score  reading score  writing score  encoded_gender
0  female          72             72             74               0
1  female          69             90             88               0
2  female          90             95             93               0
3    male          47             57             44               1
4    male          76             78             75               1

In [15]:
#feature and target and drop sex column


student_d.drop('gender', axis=1, inplace=True)

In [16]:
x=student_d.drop(columns='encoded_gender')
y=student_d['encoded_gender']

In [18]:
#spliiting
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [20]:
#model 
lr = LogisticRegression()
#train
lr.fit(X_train, y_train)

LogisticRegression()

In [22]:
#TEST
y_pred = lr.predict(X_test)

In [23]:
#evaluation
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Generate a classification report
class_report = classification_report(y_test, y_pred)
print("Classification Report:\n", class_report)

# Generate a confusion matrix
confusion_mat = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", confusion_mat)

Accuracy: 0.90
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.93      0.90        97
           1       0.93      0.86      0.89       103

    accuracy                           0.90       200
   macro avg       0.90      0.90      0.89       200
weighted avg       0.90      0.90      0.89       200

Confusion Matrix:
 [[90  7]
 [14 89]]